body {
  margin: 0;
  padding: 0;
  background-image: url(/ac.jpg);
  font-family: "montserrat", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
}
.text {
  text-transform: uppercase;
  font-size: 10em;
  font-weight: 900;

  -webkit-background-clip: text;
  background-image: url(/aa.png);
  color: transparent;
}
